<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherSoap" />
                <binding name="AddTwoNumbersSoap" />
                <binding name="AddingThreeNumbersSoap" />
                <binding name="SubtractTwoNumbersSoap" />
                <binding name="GetNameDayServiceSoap" />
                <binding name="AmericanSoap" />
                <binding name="CandidatesAmericaRepublicanSoap" />
                <binding name="OscarServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:37758/WebServices/Weather.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
                contract="ServiceReference1.WeatherSoap" name="WeatherSoap" />
            <endpoint address="http://localhost:40008/AddTwoNumbers.asmx"
                binding="basicHttpBinding" bindingConfiguration="AddTwoNumbersSoap"
                contract="ServiceAddTwoNumbers.AddTwoNumbersSoap" name="AddTwoNumbersSoap" />
            <endpoint address="http://localhost:40643/AddingThreeNumbers.asmx"
                binding="basicHttpBinding" bindingConfiguration="AddingThreeNumbersSoap"
                contract="ServiceAddingThree.AddingThreeNumbersSoap" name="AddingThreeNumbersSoap" />
            <endpoint address="http://localhost:40881/SubtractTwoNumbers.asmx"
                binding="basicHttpBinding" bindingConfiguration="SubtractTwoNumbersSoap"
                contract="ServiceSubtract.SubtractTwoNumbersSoap" name="SubtractTwoNumbersSoap" />
            <endpoint address="http://localhost:43083/GetNameDayService.asmx"
                binding="basicHttpBinding" bindingConfiguration="GetNameDayServiceSoap"
                contract="ServiceNameDay.GetNameDayServiceSoap" name="GetNameDayServiceSoap" />
            <endpoint address="http://localhost:44482/American.asmx" binding="basicHttpBinding"
                bindingConfiguration="AmericanSoap" contract="ServiceAmerican.AmericanSoap"
                name="AmericanSoap" />
            <endpoint address="http://localhost:3339/CandidatesAmericaRepublican.asmx"
                binding="basicHttpBinding" bindingConfiguration="CandidatesAmericaRepublicanSoap"
                contract="ServiceCandidates.CandidatesAmericaRepublicanSoap"
                name="CandidatesAmericaRepublicanSoap" />
            <endpoint address="http://localhost:4574/OscarService.asmx" binding="basicHttpBinding"
                bindingConfiguration="OscarServiceSoap" contract="ServiceOscar.OscarServiceSoap"
                name="OscarServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>