<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:37758/WebServices/Weather.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
                contract="ServiceReference1.WeatherSoap" name="WeatherSoap" />
        </client>
    </system.serviceModel>
</configuration>